<h1>Meetups in Space</h1>

<h3>List of Current Meetup Groups:</h3>
<!-- <ul> -->
  <% @meetups.each do |meetup| %>
  <h3><a href="/meetups/<%= meetup.id %>"><%= meetup.name %></a></h3>
  <% end %>
<!-- </ul> -->

<a href="/meetups/new">Create New Meetup</a>
